/*** instagram colors ***/
/*** instagram fonts ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.25em;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

.home .bg-img img {
  width: 100%;
}

.home .signin-form form {
  border: 1px solid #b1b1b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .signin-form form img {
  width: 60%;
}

.home .signin-form form input {
  margin: 5px;
  width: 70%;
  font-size: 15px;
}

.home .signin-form form .btn {
  background-color: #0095f6;
  color: white;
  width: 70%;
  font-size: 15px;
  height: 35px;
  margin: 10px 0;
}

.home .signin-form form p {
  font-size: 15px;
}

.home .signin-form form p a {
  font-size: small;
}

.home .signin-form form a {
  color: #4267B2;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}

.home .signin-form form a:hover {
  text-decoration: none;
}

.home .signin-form .signup-link {
  border: 1px solid #b1b1b1;
  margin: 15px 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .signin-form .signup-link p {
  font-size: 15px;
}

.home .signin-form .app-links {
  text-align: center;
  font-size: 15px;
}

.home .signin-form .app-links .img-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .signin-form .app-links .img-links img {
  width: 40%;
  margin: 5px 10px;
}

.navbar {
  background-color: #FFF;
  height: 60px;
  border-bottom: 1px solid #dadada;
}

.navbar .left img {
  width: 30%;
}

.navbar .middle input {
  text-align: center;
  width: 60%;
  height: 30px;
  border: 1px solid #dadada;
  font-size: 15px;
}

.navbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .right img {
  width: 8%;
  margin: 0 10px;
}

.navbar .right i {
  margin: 0 12px;
  font-size: 26px;
}

.navbar .right .profile-sec {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 0 10px;
}

footer {
  text-align: center;
}

footer p {
  line-height: .6rem;
}

footer a {
  margin: 0 8px;
  color: #808080;
  font-size: 13px;
}

footer a:hover {
  text-decoration: none;
}

.timeline {
  background-color: #FAFAFA;
}

.timeline .status-box {
  margin: 30px 0;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dadada;
}

.timeline .status-box .status-sec {
  font-size: small;
  text-align: center;
  overflow: hidden;
}

.timeline .status-box .status-sec .status {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
  border: 2px solid #e95950;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 1px;
}

.timeline .status-box .status-sec .status img {
  width: 60px;
}

.timeline .post {
  height: auto;
  border: 1px solid #dadada;
  margin: 50px 0;
  overflow: hidden;
}

.timeline .post .post-head {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: small;
  border-bottom: 1px solid #dadada;
}

.timeline .post .post-head .profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 5px;
}

.timeline .post .post-head .profile-pic img {
  width: 50px;
}

.timeline .post .post-head .username {
  margin-left: 10px;
}

.timeline .post .post-head .username p {
  margin: auto 0;
}

.timeline .post .post-body img {
  width: 100%;
}

.timeline .post .post-info {
  padding: 10px;
}

.timeline .post .post-info .icons {
  margin: 0 10px;
}

.timeline .post .post-info .icons i {
  margin: 0 5px;
  font-size: 30px;
}

.timeline .post .post-info .likes {
  font-size: 15px;
  font-weight: 800;
  margin: 5px 0;
}

.timeline .post .post-info .comments {
  font-size: 15px;
  margin-bottom: 5px;
}

.timeline .post .post-info .comments p {
  margin: 0;
}

.timeline .post .post-info .comments p span {
  font-weight: 600;
}

.timeline .post .post-info .timestamp {
  font-size: small;
  border-bottom: 1px solid #dadada;
  margin-bottom: 5px;
  color: #808080;
}

.timeline .post .post-info .add-comments input {
  width: 80%;
  margin-left: 10px;
  border: none;
}

.timeline .suggestions {
  margin: 30px 0;
  position: fixed;
  width: 100%;
}

.timeline .suggestions .profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline .suggestions .profile-box .image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 18px;
}

.timeline .suggestions .profile-box .image img {
  width: 50px;
}

.timeline .suggestions .profile-box .info {
  width: 18%;
}

.timeline .suggestions .profile-box .info .username {
  font-weight: 600;
}

.timeline .suggestions .profile-box .info .name {
  color: #808080;
}

.timeline .suggestions .profile-box .info p {
  margin: 0;
  font-size: small;
}

.timeline .suggestions .profile-box .switch {
  color: #4c68d7;
  font-size: 15px;
  font-weight: 500;
}

.timeline .suggestions .title {
  font-weight: 600;
  color: #808080;
  margin-top: 30px;
  margin-bottom: 20px;
}

.timeline .suggestions .sug-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18px 0;
}

.timeline .suggestions .sug-profile .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.timeline .suggestions .sug-profile .image img {
  width: 40px;
}

.timeline .suggestions .sug-profile .info {
  font-size: small;
  width: 18%;
}

.timeline .suggestions .sug-profile .info p {
  margin: 0;
}

.timeline .suggestions .sug-profile .info .username {
  font-weight: 600;
}

.timeline .suggestions .sug-profile .info .name {
  color: #808080;
}

.timeline .suggestions .sug-profile .follow {
  font-size: 15px;
  color: #4c68d7;
  font-weight: 600;
}

.timeline .footer p {
  margin: 0;
}

.timeline .footer a {
  font-size: 12px;
  color: #808080;
}

.profile .profile-box {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .profile-box .image {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .profile-box .image .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profile .profile-box .image .avatar img {
  width: 100%;
}

.profile .profile-box .info {
  width: 70%;
}

.profile .profile-box .info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .profile-box .info .title h3 {
  margin-right: 10px;
}

.profile .profile-box .info .title .btn {
  border: 1px solid #dadada;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
  width: 100px;
  height: 35px;
  padding: 0;
}

.profile .profile-box .info .title .extra-btns {
  width: 50px;
}

.profile .profile-box .info .stats {
  margin-top: 15px;
}

.profile .profile-box .info .stats a {
  color: #2b2b2b;
  font-size: 16px;
  margin-right: 10px;
}

.profile .profile-box .info .stats a span {
  font-weight: 800;
}

.profile .profile-box .info .details {
  margin-top: 15px;
}

.profile .profile-box .info .details p {
  font-size: 15px;
  margin: 5px 0;
}
/*# sourceMappingURL=styles.css.map */