/*** instagram colors ***/
/*** instagram fonts ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.25em;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

.home .bg-img img {
  width: 100%;
}

.home .signin-form form {
  border: 1px solid #b1b1b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .signin-form form img {
  width: 60%;
}

.home .signin-form form input {
  margin: 5px;
  width: 70%;
  font-size: 15px;
}

.home .signin-form form .btn {
  background-color: #0095f6;
  color: white;
  width: 70%;
  font-size: 15px;
  height: 35px;
  margin: 10px 0;
}

.home .signin-form form p {
  font-size: 15px;
}

.home .signin-form form p a {
  font-size: small;
}

.home .signin-form form a {
  color: #4267B2;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}

.home .signin-form form a:hover {
  text-decoration: none;
}

.home .signin-form .signup-link {
  border: 1px solid #b1b1b1;
  margin: 15px 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .signin-form .signup-link p {
  font-size: 15px;
}

.home .signin-form .app-links {
  text-align: center;
  font-size: 15px;
}

.home .signin-form .app-links .img-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .signin-form .app-links .img-links img {
  width: 40%;
  margin: 5px 10px;
}

footer {
  text-align: center;
}

footer p {
  line-height: .6rem;
}

footer a {
  margin: 0 8px;
  color: #808080;
  font-size: 13px;
}

footer a:hover {
  text-decoration: none;
}

.timeline {
  background-color: #FAFAFA;
}

.timeline .navbar {
  background-color: #FFF;
  height: 60px;
  border-bottom: 1px solid #dadada;
}

.timeline .navbar .left img {
  width: 30%;
}

.timeline .navbar .middle input {
  text-align: center;
  width: 60%;
  height: 30px;
  border: 1px solid #dadada;
  font-size: 15px;
}

.timeline .navbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timeline .navbar .right img {
  width: 8%;
  margin: 0 10px;
}

.timeline .navbar .right i {
  margin: 0 12px;
  font-size: 26px;
}

.timeline .navbar .right .profile-sec {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 0 10px;
}

.timeline .status-box {
  margin: 30px 0;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dadada;
}

.timeline .status-box .status-sec {
  font-size: small;
  text-align: center;
  overflow: hidden;
}

.timeline .status-box .status-sec .status {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
  border: 2px solid #e95950;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 1px;
}

.timeline .status-box .status-sec .status img {
  width: 60px;
}

.timeline .post {
  background-color: red;
  height: 500px;
}
/*# sourceMappingURL=styles.css.map */